@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  .display
    position relative
    width 50%
    height 500px
    .bars
      width 100%
      height @height
      .year
        float left
        width (100% / 25)
        border-left 1px solid white
        height 100%
        position relative
        .item
          position absolute
          width 100%
          background green
