@import colors
@import prefixes
@import 'components/triangle'

tableHeight = 250px
barsHeight = 300px

.ig
  @import basics
.ig
  .display
    position relative
    width 50%
    height 650px
    .bars
      top tableHeight
      position absolute
      width 100%
      height barsHeight
      .year
        float left
        width (100% / 25)
        border-left 1px solid white
        height 100%
        position relative
        .item
          position absolute
          width 100%
          &:hover
            opacity 0.5
