@import colors
@import prefixes
@import 'components/triangle'

tableHeight = 250px
barsHeight = 300px

.ig
  @import basics
.ig
  font-family 'Roboto', helvetica, arial, sans-serif
  .display
    position relative
    width 50%
    height 650px
    .bars
      top tableHeight
      position absolute
      width 100%
      height barsHeight
      .year
        float left
        width (100% / 25)
        border-left 1px solid white
        height 100%
        position relative
        .item
          position absolute
          width 100%
          transition bottom 0.6s, opacity 0.2s
          &:hover
            opacity 0.5
      &.highlight
        .item
          opacity 0.1
          &.active
            opacity 1
            bottom 0px !important
    ol.top-ten
      list-style-type none
      li
        clear left
        font-size 0.9em
        span
          padding 2px 0px
        span.name
          display block
          float left
          width 150px
          padding-left 5px
        span.amount
          font-weight 500
          display block
          float left
          width 45px
          text-align right
          padding-right 5px
        &:nth-child(2n) span
          background #fa

